/*---------------------------
	Fonts
----------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "Waking";
  src: url(../../../fonts/text-font/Poppins-Regular.otf);
}

// fonts
$base-font-size: 21;
$base-font: "Inter", sans-serif;
$heading-font: "Waking", sans-serif;

// color
$dark-gray: #5d5c5c;
$black-1: #ffffff;
$body-color: #888888;
$white: #fff;
$light: #888888;
$small-black: #333;
$cyan: #848892;

$theme-primary-color: #abc321;
$theme-primary-color-s2: #bdbcb5;
$theme-primary-color-s3: #dd584f;
$bg-color: #000000;
$bg-color2: #000000;
$bg-color3: #000000;
$body-bg-color: #000000;
$section-bg-color: #f3f8ff;
$text-color: #585858;
$text-light-color: #7b7b7b;
$heading-color: $black-1;
$border-color: #ebebeb;
$border-color-s2: #e4ebf2;
